
/* styles/default-dark.css */

:root {
	--text-default: #e6e6e6;
	--text-dim: #b3b3b3;
	--text-dimmer: #9a9a9a;
	--text-sep: #444;
	--bg-doc: #111;
	--bg-block: #222;
	--bg-block-left: #555;
	--bg-table-header: #222;
}

