
/* styles/default-light.css */

:root {
	--text-default: #333;
	--text-dim: #666;
	--text-dimmer: #888;
	--text-sep: #ccc;
	--bg-doc: #fff;
	--bg-block: #f5f5f5;
	--bg-block-left: #bbb;
	--bg-table-header: #eee;
}

